# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Data
data/

#Build
sexism_custom_classifier.egg-info/
build/
dist/
packages/
stanford-corenlp-4.1.0/
